@model CS4790A2.Models.CourseAndSections

@{
    ViewBag.Title = "Course Details and Sections";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.courseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.courseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.courseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.courseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.creditHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.creditHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.maxEnrollment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.maxEnrollment)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Course.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h4>Course Sections</h4>
<p>
    @Html.ActionLink("Create New Section", "Create", "Section", new { id = Model.Course.courseNumber }, null)
    @Html.ActionLink("Edit", "Edit", "Section", new { id = item.Id }, null)
</p>
<table class="table">
    
    <tr>
        <th>
            Section ID
        </th>
        <th>
            Section Number
        </th>
        <th>
            Course Number
        </th>
        <th>
            Section Days
        </th>
        <th>
            Section Time
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Sections)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sectionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sectionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sectionDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sectionTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Section", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Section", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Section", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

